
main{

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 5rem;


    & header{
        display: flex;

        gap: 1rem;
        & div:has(h1){
            display: flex;
            flex-direction: column;

            & h1{
                font-size: 1.5rem;
                line-height: 2rem;
                color: var(--content-primary);
    
                font-family: "Inter Tight",sans-serif;
            }
            & p{
                font-size: 0.875rem;
                line-height: 1.5rem;
                color: var(--content-secondary);
            }
        }

        & div:has(input){
            display: flex;
            align-items: center;
            
            position: relative;
            & input{
                padding: 0.75rem;
                border-radius: 8px;
                
                color: var(--content-secondary);
                border: 1px solid var(--bd-primary);
                background-color: transparent;
                
                margin-left: 0.75rem;
                
                padding-left: 2rem;
                
                
            }

            & i{

                position: absolute;
                color: var(--content-brand);
                font-size: 1.5rem;

                left: 1.15rem;
            }

        }


    }

    & .list{
        display: flex;
        flex-direction: column;
        width: 50%;

        gap: 0.75rem;

        padding-top: 2rem;
        & div{
            background-color: var(--bg-tertiary);
            border-radius: 8px;
            padding: 0.5rem;


            & header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > div{
                    position: relative;
                    display: flex;
                    align-items: center;

                    & span{
                        color: var(--content-primary);
                        line-height: 1.5rem;
                        font-weight: bold;

                        padding-left: 2rem;
                    }
                    & i{
                        color: #16487A;
                        font-size: 1.5rem;

                        position: absolute;
                        left: 0.5rem;
                    }
                }

                
                & p{
                    color: var(--content-secondary);
                    font-weight: bold;
                }
            }

            & .data{
                display: flex;
                align-items: center;
                justify-content: space-between;

                border-top: 1px solid #2E2C30;
                border-radius: 0;

                & .pet-name{
                    display: flex;
                    gap: 1rem;
                    & p{
                        font-size: 0.875rem;
                        line-height: 1.5rem;
                        font-weight: bold;
                        color: var(--content-primary);
    
                    }
    
                    & strong, span{
                        font-size: 0.75rem;
                    }
                    & strong{
                        line-height: 1rem;
                        color: var(--content-primary);
                    }
    
                    & span{
                        line-height: 1.5rem;
                        color: var(--content-secondary);
                    }
                }
    
                & .type{
                    & p{
                        font-size: 0.75rem;
                        line-height: 1.5rem;
                        color: var(--content-secondary);
                    }
                }
                & .cancel{
                    font-size: 0.75rem;
                    line-height: 1.5rem;
                    color: var(--content-tertiary);

                    padding-bottom: 0;
                    text-decoration: none;
                    border-radius: 0;

                    cursor: pointer;
                    transition: text-decoration 0.1s;

                    &:hover{
                        text-decoration: underline;
                        color: var(--content-primary);
                    }
                }

            }
        }
    }

    &.show{
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 10rem;
            bottom: 0;
            right: 0;
            
            background: rgba(0, 0, 0, 0.01);
            backdrop-filter: blur(6px);
    }
    
    } 
    

    
}


#afternoon{
    & i{
        color: #F09102;
    }
}

#night{
    & i{
        color: #756E1B;
    }
}
@media ( 767px <= width <= 1024px ){
    main{
        padding: 3rem 1.25rem;
        width: 100%;
    }
}

@media (width <=760px){
    main{
       padding: 3rem 1.25rem;
        & header{
            flex-direction: column;
        }
        & .list{
            max-width: 100%;
            width: 100%;
            & header{
                flex-direction: row;
            }
             & .data{
                flex-direction: column;

                & .pet-name{
                    & strong,span{
                        font-size: 0.875rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}
